.popUpElement {
    position: fixed;
    top:30%;
    left:35%;
    padding: 5px;
    background-color: #0d85ddc0;
    z-index: 999;
}

.overlay {
    background-color: rgba(1, 1, 1, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 998;
}

.closeIcon { 
    position:absolute; 
    top:-5px;
    right:-5px; 
    width:20px;
    height:20px;
}
