.deviceTable {
    position: relative;
    width: 80%;
    margin: auto;
}

.deviceTable .title {
    color: blue;
}

.deviceTable .table {
    color: red;
    width: 100%;
    border: 1px solid #ddd;
}

.deviceTable .table-header {
    color: whitesmoke;
    background-color: #3283e0c0;
    text-align: center;
}

.deviceTable .tr {
    background-color: greenyellow;
}