.background{
    background-color:  #0d85dd;
    height: 600px;
    padding: 0;
    margin-top: 0px;
    /* position: fixed; */
}

/*body{
    background-color: #0066ff;
}  */

/* body {font-family: Arial, Helvetica, sans-serif; height: 350px} */
form {
  border: 3px solid #f1f1f1; 
  width:400px; 
  margin-top:150px;
  margin-left:calc(50% - 200px); 
  border-radius:8px; 
  background-color: whitesmoke;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
}

h2 {
  margin-left: 50px;
  font-size: 100%;
}

h3 {
  margin-left: 50px;
  font-size: 80%;
  color: red;
}

input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 20px;
  margin: 10px 40px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 50px;
  border: none;
  cursor: pointer;
  width: 280px;
}

button:hover {
  opacity: 0.8;
}

.login-container {
  padding: 16px;
  width:250px;
  border-radius:10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
