.menu {
    background-color: #0d85dd;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    /* width: 752px; */
    /* height: 50px; */
    display: flex;
    /* justify-content: space-between; */
    /* padding: 0 20px; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d85dd;
    position: fixed;
    top: 0;
    width: 100%;
    height: 34px;
    /* box-shadow:  rgba(0, 0, 0, 0.5)  2px 2px 2px; */
  }

  li {
    float: left;
    padding-right: 2px;
    padding-top: 4px;
  }
  
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
  }

  .active a {
    background-color: whitesmoke;
    color: #428bca;
    border-top: 2px solid #0d85dd;
    padding-top: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) inset 2px 2px 2px;
  }

  .container {
    height : 100%;
  }
